Repository GlancingMind/git-bug, pull requests merged in 2021-03, with the labels that each got.

#31 Use success.dark for green-button:hover
  webui/src/components/BugTitleForm/BugTitleForm.tsx
  webui/src/components/CloseBugButton/CloseBugButton.tsx
  webui/src/components/ReopenBugButton/ReopenBugButton.tsx
  webui/src/pages/bug/CommentForm.tsx
  webui/src/pages/list/ListQuery.tsx
  webui/src/pages/new/NewBugPage.tsx
Labels: WebUI

#26 10 improve navigation
  commands/webui.go
  doc/man/git-bug-webui.1
  doc/md/git-bug_webui.md
  go.sum
  misc/bash_completion/git-bug
  repository/repo.go
  webui/src/components/BugTitleForm/BugTitleForm.tsx
  webui/src/components/Content/PreTag.tsx
  webui/src/components/Header/Header.tsx
  webui/src/pages/list/FilterToolbar.tsx
  webui/src/pages/new/NewBugPage.tsx
Labels: WebUI, upsteam-merged

#34 28 comment counter for each bug on buglist
  webui/src/pages/list/BugRow.graphql
  webui/src/pages/list/BugRow.tsx
Labels: WebUI, upsteam-merged

#35 12 allow users to inspect their current identity details
  api/graphql/schema/repository.graphql
  webui/src/App.tsx
  webui/src/components/Author.tsx
  webui/src/components/CurrentIdentity/CurrentIdentity.tsx
  webui/src/components/Header/Header.tsx
  webui/src/components/Identity/CurrentIdentity.graphql
  webui/src/components/Identity/CurrentIdentity.tsx
  webui/src/components/Identity/IdentityFragment.graphql
  webui/src/components/Identity/UserIdentity.graphql
  webui/src/components/IfLoggedIn/IfLoggedIn.tsx
  webui/src/graphql/fragments.graphql
  webui/src/pages/bug/Message.tsx
  webui/src/pages/identity/BugList.tsx
  webui/src/pages/identity/GetBugsByUser.graphql
  webui/src/pages/identity/Identity.tsx
  webui/src/pages/identity/IdentityQuery.tsx
  webui/src/pages/identity/index.tsx
  webui/src/pages/list/BugRow.tsx
Labels: WebUI

#33 feat: use author to filter the list
  webui/.eslintrc.js
  webui/package.json
  webui/src/pages/list/Filter.tsx
  webui/src/pages/list/FilterToolbar.tsx
  webui/src/pages/list/ListIdentities.graphql
  webui/src/pages/list/ListLabels.graphql
  webui/src/pages/list/ListQuery.tsx
Labels: WebUI

#40 Create/Edit bug labels
  webui/src/components/Header/Header.tsx
  webui/src/components/Label.tsx
  webui/src/pages/bug/Bug.tsx
  webui/src/pages/bug/LabelChange.tsx
  webui/src/pages/bug/labels/LabelMenu.tsx
  webui/src/pages/bug/labels/SetLabel.graphql
  webui/src/pages/identity/Identity.tsx
  webui/src/pages/list/BugRow.tsx
  webui/src/pages/list/Filter.tsx
  webui/src/pages/list/FilterToolbar.tsx
  webui/src/pages/list/ListLabels.graphql
Labels: WebUI

#41 fix: regex issue
  webui/src/pages/list/Filter.tsx
Labels: WebUI

#36 Various fixes
  api/graphql/schema/repository.graphql
  webui/src/components/Author.tsx
  webui/src/components/BackToListButton.tsx
  webui/src/components/BugTitleForm/BugTitleForm.tsx
  webui/src/components/Header/Header.tsx
  webui/src/components/Identity/CurrentIdentity.tsx
  webui/src/pages/bug/LabelChange.tsx
  webui/src/pages/bug/MessageHistoryDialog.tsx
  webui/src/pages/bug/SetStatus.tsx
  webui/src/pages/bug/SetTitle.tsx
  webui/src/pages/identity/Identity.tsx
  webui/src/pages/list/BugRow.tsx
  webui/src/pages/list/ListQuery.tsx
Labels: WebUI

#44 Fix and improve rendering of markdown elements
  webui/package-lock.json
  webui/package.json
  webui/src/components/CommentInput/CommentInput.tsx
  webui/src/components/Content/BlockQuoteTag.tsx
  webui/src/components/Content/ImageTag.tsx
  webui/src/components/Content/index.tsx
  webui/src/pages/bug/CommentForm.tsx
  webui/src/pages/bug/Message.tsx
  webui/types/remark-gemoji/index.d.ts
Labels: WebUI, currently-not-upstreamed
